/* Colour constants, media query break points */
$errorColor: red;

/* break point variables for media queries */
$break-tablet-min-width: 481px;
$break-tablet-max-width: 1024px;
$break-mobile-min-width: 320px;
$break-mobile-max-width: 480px;
